@charset "UTF-8";

.wrapper {
  width: 25%;
  margin: 0 auto;
  top: 0;
}

.container {
  width: 500px;
  height: 500px;
  position: fixed;
}

.square {
  display: inline-block;
  margin-top: -2px;
}

.user-control {
  clear: both;
  position: absolute;
  margin-top: 600px;
}

input[type="number"] {
  width: 50px;
}
